/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    margin: 0;
  }


#header {
    height: 130px;
    width: 100%;
    background: #85CDF5;
    margin: 0 auto;
    top: 0;
    position: fixed;
    z-index: 1000;
}

#header a {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

#nossos_lobinhos {
    position: absolute;
    left: 15.64%;
    right: 68.5%;
    top: 38.46%;
    bottom: 38.46%;
}

#fale_conosco {
    position: absolute;
    left: 73.14%;
    right: 15.71%;
    top: 38.46%;
    bottom: 29.23%;
}

#nossos_lobinhos:after {
	content: "";
	display: block;
	background-color: #333333;
    height: 5px;
	width: 0%;
}

#nossos_lobinhos:hover:after {
    width: 100%;
    transition: .08s;
}

#fale_conosco:after {
	content: "";
	display: block;
	background-color: #333333;
    height: 5px;
    width: 0%;
    float: right;
}

#fale_conosco:hover:after {
    width: 100%;
    left: 0%;
	transition: .08s;
}

#header img {
    position: absolute;
    left: 46.6%;
    right: 46.57%;
    top: 9.72%;
    bottom: 5.11%;
}
footer {
   position: relative;
   left: 0px;
   bottom: 0px;
   width: 100%;
   height: 370px;
   background-color: #333333;
   color: white;
   text-align: center;
   font-family: 'Darker Grotesque', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 15px;
}

footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right, #DEB959 , #2C5680);
}


footer .container {
    position: absolute;
    height: 270px;
    width: 80%;
    margin: 80px;
    margin-bottom: 0px;
}

footer div {
    left: 30px;
    display: inline-block;
}

#footer_text div{
    position: absolute;
    top: 0px;
}

footer p{
    text-align: left;
}
#footer_text {
    position: relative;
}


footer .clear {
    clear: both;
}

.block img{
    float: left;
}

#localizacao:before {
    content: ("assets/imagens/loc.svg");
}

#telefone::before {
    content: ("assets/imagens/tel.svg");
}

#email::before {
    content: ("assets/imagens/email.svg");
}

#email:after {
    padding: 20px;
}

footer p {
    padding: 8px;
}

footer a {
    padding: 1px;
    background: #DEB959;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

footer a:hover{
    color: #DEB959;
    background: #333333;
    border: 0.2px solid #DEB959;
    transition: 0.2s;
}


input, textarea{
    width: 900px;
    height: 39px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    background: #E6E6E6;
}

textarea{
    height: 250px;
    padding-bottom: 20px;
}