.search {
    margin-top: 120px;
    padding: 50px;
}
.search *{
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 178.78px;
    height: 47px;
}

.search p{
    left: 1300px;
    width: 100px;
    padding: 0 0 0 30px;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    background: #DEB959;
    border: 1px solid black;
}

.search p:hover{
    color: #DEB959;
    background: black;
    transition: 0.5s;
}

.search input{
    left: 380px;
    border: 1px solid black;
    background: white;
}

.show_lobinho .container{
    margin: 50px;
    padding: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.show_lobinho .div{
    position: relative;
    top: 0px;
    width: 400px;
    height: 300px;
    background:  #2C5680;
    border: 3px solid black;
    margin-bottom: 50px;
    margin-left: 178px;
}


.show_lobinho img{
    position: absolute;
    right: -20px;
    bottom:-20px;
    width: 100%; 
    height: 100%; 
    object-fit: fill;
}


.esquerda1 {
    display: inline-block;
}

.direita1 {
    margin-left: 100px;
    position: relative;
    display: inline-block;
    bottom: 90px;
    width: 600px;
}

.esquerda2 {
    margin-left: 200px;
    position: relative;
    display: inline-block;
    bottom: 90px;
    width: 600px;
}


.direita2 {
    display: inline-block;
}



h2 {
    font-family: Darker Grotesque;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #000000;
}

.statusLobo {
    display: inline-block;
}


.statusLobo p{
    font-family: Darker Grotesque;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.adote {
    position: absolute;
    display: inline-block;
    right: 0px;
    background: #DEB959;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width: 180px;
    border: 1px solid black;
}

.adote:hover {
    background: white;
    color: #DEB959;
    transition: 0.5s;
}


.page {
    text-align: center;
}

.page *{
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    align-items: center;
    text-align: center;
    color: black;
    margin: 10px;
    cursor: pointer;
}

.page .atual{
    color: red;
}