.fale_conosco {
    margin-top: 120px;
    padding: 50px;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
    
}

.fale_conosco div{
    margin-top: 30px;
    margin-left: 500px;
}

.fale_conosco p{
    
    font-family: 'Darker Grotesque', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 41px;
color: #000000;

}

.fale_conosco input, textarea{
    width: 900px;
    height: 39px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

.fale_conosco textarea{
    height: 250px;
    padding-bottom: 20px;
}

.fale_conosco .botao{
    width: 200px;
    margin-left: 45%;
    margin-top: 10px;

    border: 1px solid black;
    text-align: center;
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    color: white;
}

.fale_conosco .botao:hover{
    color: #2C5680;
    background: white;
    transition: 0.5s;
    cursor: pointer;
}