.adote {
    margin-top: 120px;
    padding: 50px;
}
.adote .container {
    width: 958px;
    height: 874px;
    margin: 0 auto;
    border: 2px solid black;
}

h1 {
margin-top: 54px;

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
    color: #000000;
}

.adote p {
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;

    color: #000000;

}


.adote .botao{
    clear: both;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;

    border: 1px solid black;
    text-align: center;
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    color: white;
}

.adote .botao:hover{
    color: #2C5680;
    background: white;
    transition: 0.5s;
    cursor: pointer;
}

.container div {
    margin: 20px; 
    margin-top: 0px;
    float: left;
}

#name {
    width: 564px;
}

#age {
    width: 177px;
}

#link, textarea {
    width: 785px;
}