#quem_somos {
    margin-top: 180px;
    height: 70%;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

#quem_somos p {
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.155em;
    margin-left: 219px;
    margin-right: 221px;
    margin-top: 50px;

}

