#perfil {
    margin-top: 170px;
    margin-left: 219px;
    padding: 50px;

}

.iconBox {
    position: relative;
    top: 0px;
    width: 200px;
    height: 200px;
    padding: 40px;
}

#icon {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    object-fit: contain;
}

h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    color: #000000;
}

#perfilContainer div {
    display: inline-block;
}

#perfilContainer {
    position: relative;
    height: 200px;
}

#infoBox {
    position: absolute;
    top: 0px;
    padding: 40px;
}

#infoBox p{
    font-family: 'Darker Grotesque', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #000000;
}

.dados{
    margin-top: 50px;
    margin-left: 220px;
    margin-bottom: 50px;
}

.dados div{
    display: inline-block;
    padding: 40px;
}

.dados p{
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

.dados input{
    height: 42px;
    background: white;
    border: none;
    border-bottom: 1px solid black;
}
#nome {
    width: 868px;

}

#idade {
    width: 72px;
}

#email{
    width: 960px;
}

#perfil .botao{
    width: 200px;
    margin-left: 36%;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    color: white;
}

#perfil .botao:hover{
    color: #2C5680;
    background: white;
    transition: 0.5s;
    cursor: pointer;
}

footer.container {
    margin-left: 100px;
}