#show_lobinho {
    margin-top: 120px;
    padding: 50px;
    display: block;
    position: relative;
}

#show_lobinho .container{
    margin: 50px;
    padding: 50px;
    margin-bottom: 100px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px; 
    color: #000000;
    text-align: center;
}

#show_lobinho .div{
    position: relative;
    top: 0px;
    width: 400px;
    height: 300px;
    background:  #2C5680;
    border: 3px solid black;
    margin-bottom: 50px;
    margin-left: 178px;
}


#show_lobinho img{
    position: absolute;
    right: -20px;
    bottom:-20px;
    width: 100%; 
    height: 100%; 
    object-fit: fill;
}

.opcoes a{
    margin-left: 200px;
    display: inline;
    background: #7AAC3A;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 70px;


}

.opcoes p{
    margin-left: 13px;
    display: inline;
    background: #DE5959;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px 70px;
}



.direita p{
    position: absolute;
    transform: translateY(-350px); 
    width: 700px;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    font-size: 24px;

/* or 83% */


color: #000000;
}

.esquerda {
    display: inline-block;
}

.direita {
    display: inline-block;
}

footer {
    position: relative;
    width: 100%;
}

